<html>
<head>
    <title>Browsercast registration failed!</title>
</head>
<body style="background-color:#faa">
    <h2>Browsercast registration failed!</h2>
    <h3>Reason: $error_message</h3>
</body>
</html>
